@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.about-me-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-me-content{
  width: 600px;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
  align-items: center;
}

.funfact{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.cv-font{
  border: solid #6B7158;
  align-items: center;
  justify-content: center;
  color: #6B7158;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.25s ease;
  padding: 10px 10px;

}

.cv-font:hover{
  background-color: #6B7158;
  color: #E9E2D8;
}

